scrapling[all]
openai
oauth-codex; python_version >= "3.11"
groq
agentrouter @ git+https://github.com/tryprane/agentrouter-python.git ; python_version >= "3.11"
python-dotenv
colorama
plyer
patchright
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
dnspython
